{{ define "main" }}
  {{ .Content }}

  {{ $posts := where site.RegularPages "Section" "posts" }}
  {{ if gt (len $posts) 0 }}
    <h2>Recent posts</h2>
    <ul class="blog-posts">
      {{ range first 5 $posts }}
        <li>
          <span>
            <i>
              <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                {{ .Date.Format (default "02 Jan, 2006" site.Params.dateFormat) }}
              </time>
            </i>
          </span>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>

    <p><a href="{{ "/posts/" | relURL }}">View all posts</a></p>
  {{ end }}
{{ end }}
